{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5 p-2">
    <div class="row g-1">

        <div class="col-md-12 mb-0 h-100 card p-2 mb-2">
            <div class="card-body">
                <div class="card-title">
                    <h1>🏀 Basketball</h1>
                </div>
                <p>Welcome to the basketball menu.</p>
            </div>
        </div>

        <div class="col-12">
            <div class="card-group">
                <!-- Messages -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Messages</h2>
                        </div>
                        <div class="alert alert-light-dark">
                            <p><b>Subject:</b> This is a test message.</p>
                        </div>
                    </div>
                </div>
                <!-- Announcements -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Announcements</h2>
                        </div>
                        <div class="alert alert-light-dark">
                            <p>🏆 A new champion has been crowned!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>
{% endblock %}