{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5 p-2">
    <div class="row g-1">

        <div class="col-md-12 mb-0 h-100 card p-2 mb-2">
            <div class="card-body">
                <div class="card-title">
                    <h1>🏀 Basketball</h1>
                </div>
                <p>Welcome to the basketball menu.</p>
                <div class="container">
                    <a href="{% url 'basketball:create' %}" class="btn btn-dark btn-sm">
                        <i class="bi bi-person-circle"></i> Begin Career
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card-group">
                <!-- Announcements -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Announcements</h2>
                        </div>
                        <div class="alert alert-light-dark">
                            <p>🏆 A new champion has been crowned!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>
{% endblock %}