{% extends 'core/base.html' %}

{% block title %}Player Upgrade{% endblock %}

{% block content %}
    <div class="container">

        <div class="jumbotron mt-5 mb-5">
            <h1 class="display-4">Player Upgrade</h1>
            <p class="lead">Upgrade your basketball player's attributes and badges.</p>
        </div>

        <form method="post" action="{% url 'basketball:playerUpgrade' player.id %}">
            {% csrf_token %}
    
            <!-- Attributes Section -->
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Attributes</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for category, attributes in attributeCategories.items %}
                                    {% if not category == 'Physical' %}
                                        <div class="col-md-3 mb-4">
                                            <h5 class="fw-bold">{{ category }}</h5><hr>
                                            {% for attribute in attributes %}
                                                {% for field in form %}
                                                    {% if 'attributes_' in field.name and attribute == field.name|cut:'attributes_' %}
                                                        <div class="form-group">
                                                            <span class="mb-1">{{ field.label_tag }}</span>
                                                            <span class="mb-1">{{ field }}</span>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %} 
                                            <hr>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Badges Section -->
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Badges</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for category, badges in badgeCategories.items %}
                                    <div class="col-md-3">
                                        <h5>{{ category }}</h5><hr>
                                        {% for badge in badges %}
                                            {% for field in form %}
                                                {% if 'badges_' in field.name and badge == field.name|cut:'badges_' %}
                                                    <div class="form-group">
                                                        {{ field.label_tag }}
                                                        {{ field }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        <hr>
                                    </div>
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
