{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5 p-2">
    <div class="row g-1">

        <div class="col-md-12 mb-0 h-100 card p-2 mb-2">
            <div class="card-body">
                <div class="card-title">
                    <h1>Welcome, {{ user.discord_tag }}.</h1>
                </div>
                <p>Choose one of our league options below.</p>
                <div class="container">
                    <a href="{% url 'basketball:home' %}" class="btn btn-dark btn-sm">
                        <i class="bi bi-person-circle"></i> Basketball
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-2 card">
            <div class="card-body">
                <div class="card-title">
                    <h2>Account</h2>
                </div>
                    <div class="container">
                        {% if not user.is_anonymous %}
                            <p> ✅ Logged in as <span class="fw-bold text-dark">{{ user.discord_tag }}.</span></p>
                            <a href="{% url 'core:logoutDiscord' %}" class="btn btn-danger btn-sm">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </a>
                        {% else %}
                            <a href="{% url 'core:loginDiscord' %}" class="btn btn-primary btn-sm">
                                <i class="bi bi-discord"></i> Login with Discord
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}